* {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    padding: 2rem;
}

ul {
    list-style: none;
}

nav>ul {
    display: flex;
    justify-content: flex-end;
    /* background-color: rgba(0, 140, 255, 0.555); */
    border-bottom: solid 1px black;
}

nav ul li {
    font-size: 1.6rem;
    color: rgb(54, 54, 54);
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    margin: 2rem;
    font-size: 1.5rem;
}

h2 {
    text-align: center;
}

.brands_list a {
    font-weight: 600;
    font-size: 1.5rem;
    margin: 1rem;
}

.cardGallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1.5rem;
    margin-top: 4rem;
    margin-right: 5rem;
    margin-left: 5rem;
}

article {
    border: 0px solid;
    border-radius: 1rem;
    box-shadow: .5rem .5rem 1rem rgba(185, 185, 185, 0.555);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* margin-top: 1rem; */
    height: 100%;
    /* align-items: center; */
}

article>* {
    margin: .2rem;
    margin-top: auto;
}

article>img {
    order: -1;
}

.greyed {
    color: rgb(145, 145, 145);
    font-weight: 100;
}

.soldOut img {
    opacity: 50%;
    filter: grayscale(80%);
}

.onSale {
    display: flex;
    justify-content: space-between;
}

.onSale :first-child {
    font-weight: bold;
}

.onSale :last-child {
    font-size: 1.2rem;
    color: white;
    background-color: coral;
    padding: .5rem;
    margin-right: 1.5rem;
    margin-bottom: 1rem;
}

article>img {
    max-width: 100%;
}

.product_detail {
    margin: 5rem;
}

.product_detail img {
    width: 60%;
}

button {
    width: 80%;
    color: white;
    background-color: rgb(0, 66, 209);
    border: 0px solid;
    border-radius: 2rem;
    box-shadow: .5rem .5rem 1rem rgba(185, 185, 185, 0.555);
    padding: .5rem;
    /* margin: 2rem 0 2rem 0; */
    margin: auto;
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: bold;
    transition: all .1s ease-in;
}

button:hover {
    transform: scale(1.02);
    filter: brightness(130%);
    translate: 3vw, 0vw;
}

li {
    display: inline-flex;
    margin: 2rem;
    font-weight: 600;
    font-size: 1.2rem;
    transition: all .2s;
}

li:hover {
    transform: scale(1.1);
    color: cornflowerblue;
}


/* a article button :hover {
    transform: scale(1.05);
} */